name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.23"

      - name: Verify Go version
        run: go version

      - name: Run govulncheck
        uses: golang/govulncheck-action@v1
        with:
          packages: ./...

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v2.1.2

      - name: Run tests
        run: go test ./...

      - name: Build binary
        run: go build -o ./bin/api ./cmd/api/...
