name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: "1.23"

      - name: govulncheck
        uses: golang/govulncheck-action@v1
        with:
          go-version: "1.23"
          work-dir: .

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v7
        with:
          version: v2.1.2

      - name: Run tests
        run: go test ./...

      - name: Build
        run: go build -o ./bin/api ./cmd/api/...
